<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trueque"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera" />

    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
	<permission
        android:name="com.google.android.gcm.demo.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.gcm.demo.app.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    

   
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
         <service android:name="com.google.android.gcm.demo.app.GcmIntentService" />
        <receiver
        android:name="com.google.android.gcm.demo.app.GCMBroadcastReceiver"
        android:permission="com.google.android.c2dm.permission.SEND" >
        <intent-filter>

            <!-- Receives the actual messages. -->
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <!-- Receives the registration id. -->
            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

            <category android:name="com.google.android.gcm.demo.app" />
        </intent-filter>
    </receiver>
        <activity
            android:name="com.trueque.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ******************** -->
        <activity
            android:name="de.vogella.camera.api.MakePhotoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ******************** -->
        <activity android:name="com.trueque.IngresarTrueque" >
        </activity>
        <activity
            android:name="com.trueque.ItemListActivity"
            android:label="@string/title_item_list" >
        </activity>
        <activity
            android:name="com.trueque.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
        <activity
            android:name="com.trueque.VerTruequesActivity"
            android:label="@string/title_activity_ver_trueques" >
        </activity>
        <activity
            android:name="com.trueque.FotoActivity"
            android:label="@string/title_activity_foto" >
        </activity>
        <activity
            android:name="com.trueque.VerTruequeActivity"
            android:label="@string/title_activity_ver_trueque" >
        </activity>
        <activity
            android:name="com.trueque.EditarTrueque"
            android:label="@string/title_activity_editar_trueque" >
        </activity>
        <activity
            android:name="com.trueque.Camara"
            android:label="@string/title_activity_camara" >
        </activity>
         <activity
            android:name="com.trueque.IniciarSesion"
            android:label="@string/title_activity_iniciar_sesion"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.trueque.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.trueque.AltaUsuario"
            android:label="@string/title_activity_alta_usuario" >
        </activity>
        <activity
            android:name="com.trueque.CrearOferta"
            android:label="@string/title_activity_crear_oferta" >
        </activity>
  <provider
                android:name="com.example.android.network.sync.basicsyncadapter.provider.FeedProvider"
                android:authorities="com.example.android.network.sync.basicsyncadapter"
                android:exported="false" />

        <!-- This service implements our SyncAdapter. It needs to be exported, so that the system
        sync framework can access it. -->
        <service android:name="com.example.android.network.sync.basicsyncadapter.SyncService"
                 android:exported="true">
            <!-- This intent filter is required. It allows the system to launch our sync service
            as needed. -->
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <!-- This points to a required XML file which describes our SyncAdapter. -->
            <meta-data android:name="android.content.SyncAdapter"
                       android:resource="@xml/syncadapter" />
        </service>

        <!-- This implements the account we'll use as an attachment point for our SyncAdapter. Since
        our SyncAdapter doesn't need to authenticate the current user (it just fetches a public RSS
        feed), this account's implementation is largely empty.

        It's also possible to attach a SyncAdapter to an existing account provided by another
        package. In that case, this element could be omitted here. -->
        <service android:name="com.example.android.network.sync.basicsyncadapter.accounts.GenericAccountService">
            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <!-- This points to an XMLf ile which describes our account service. -->
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator" />
        </service>
    </application>

</manifest>